<header class="header">
  <div class="header__container">
    <a href="#" class="header__logo logo"></a>
    <nav class="header__menu menu">
      <ul class="menu__list">
        <li class="menu__item"><a href="#" class="menu__link"><img src="../images/giphy (24).gif" alt=""></a></li>
      </ul>
    </nav>
    <!-- @@include('./iconMenu.html', {}) -->
  </div>
</header>