* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: '';
}

*:before, 
*:after {
  box-sizing: border-box;
}

:focus, 
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
	width: 100%;
  height: 100%;
	font-size: '';
  font-family: '';
  font-weight:'';
	line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
} 

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}

ul, 
li {
  list-style: none;
} 

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size:inherit;
  font-weight: 400;
}

sup {
  color: inherit;
}